%h1= Alias.model_name.human(:count => 2)

%table
  %tr
    %th= Alias.human_attribute_name('alias')
    %th= Alias.human_attribute_name('active')
    %th= Alias.human_attribute_name('destination')
    %th= Alias.human_attribute_name('created')
    %th= Alias.human_attribute_name('updated')
    - if can? :modify, Email
      %th

  - @aliases.each do |a|
    %tr
      %td= link_to a.source, edit_alias_path(a)
      %td= a.active ? image_tag('tick.png') : ''
      %td= a.destination_array.join('<br>')
      %td
        %time{:datetime => a.created_at, :class => 'relative'}= a.created_at
      %td
        %time{:datetime => a.updated_at, :class => 'relative'}= a.updated_at
      %td
        = link_to image_tag('edit.png'), edit_alias_path(a)
        = link_to image_tag('delete.png'), a, :confirm => 'Are you sure?', :method => :delete

