%h1= t('.title')
%p= t('.summary')

%table
  %tr
    %th= t('helpers.label.alias.source')
    %th= t('attributes.active')
    %th= t('helpers.label.alias.destination')
    %th= t('attributes.updated_at')
    - if can? :modify, Alias
      %th

  - @aliases.each do |a|
    %tr
      - if a.source.starts_with? '@'
        %td= link_to t('aliases.catchall'), edit_alias_path(a)
      - else
        %td= link_to a.source, edit_alias_path(a)
      %td= a.active ? image_tag('tick.png') : ''
      %td= a.destination_array.join('<br>').html_safe
      %td
        %time{:datetime => a.updated_at, :class => 'relative'}= a.updated_at
      %td
        = link_to image_tag('edit.png'), edit_alias_path(a)
        = link_to image_tag('delete.png'), a, :confirm => 'Are you sure?', :method => :delete

