= form_for @config_file do |f|
  -if @config_file.errors.any?
    #error_explanation
      %h2= "#{pluralize(@config_file.errors.count, "error")} prohibited this config_file from being saved:"
      %ul
        - @config_file.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %ul
      %li
        = f.label :type
        = f.select :type, ConfigFile::TYPES
      %li
        = f.label :active
        = f.check_box :active
  .actions
    = f.submit 'Save'
