%h1= t('.title')
%p= t('.summary')

%table
  %tr
    %th= t('helpers.label.domain.name')
    %th= t('helpers.label.config_file.type')
    %th= t('attributes.active')
    %th= t('helpers.label.config_file.current')
    %th

  - @config_files.each do |config_file|
    %tr
      %td= config_file.domain.name
      %td= config_file.type
      %td= config_file.active ? image_tag('tick.png') : ''
      %td
        = config_file.current? ? image_tag('tick.png') : link_to(t('.generate'), generate_config_file_path(config_file))
      %td
        = link_to image_tag('edit.png'), edit_config_file_path(config_file)
