= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %ul
      %li
        = f.label :email
        = f.text_field :email
      %li
        = f.label :firstname
        = f.text_field :firstname
      %li
        = f.label :surname
        = f.text_field :surname
      %li
        = f.label :active
        = f.check_box :active

  %fieldset
    %ul
      %li
        = f.label :roles
        %ul.field
          - for role in Role.all
            %li
              = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
              = role.description
        = hidden_field_tag "user[role_ids][]", ""

  %fieldset.actions
    = f.submit 'Save'
