= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :firstname
    = f.text_field :firstname
  .field
    = f.label :surname
    = f.text_field :surname
  .field
    = f.label :active
    = f.check_box :active

  - for role in Role.all
    = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
    = role.name
  = hidden_field_tag "user[role_ids][]", ""
  .actions
    = f.submit 'Save'
