= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend= t('.details')
    %ul
      %li
        = f.label :email
        = f.text_field :email
        %span.hint= t('.hints.email')
      %li
        = f.label :firstname
        = f.text_field :firstname
      %li
        = f.label :surname
        = f.text_field :surname
      - if can? :manage, User
        %li
          = f.label :active
          = f.check_box :active
      %li
        = f.label :password
        = f.text_field :password
      %li
        = f.label :password_confirmation
        = f.text_field :password_confirmation

  - if can? :manage, User
    %fieldset
      %legend= t('.role')
      %ul
        %li
          = f.label :role
          = f.collection_select :role, User::ROLES.reject{|r| r == 'super'}, :to_s, :humanize
          %span.hint= t('.hints.role')
        %li#role-domains
          = f.label :domains
          .field
            - @account.domains.each do |domain|
              = check_box_tag 'user[domain_ids][]', domain.id, @user.domains.include?(domain)
              = domain.name
              = hidden_field_tag 'user[domain_ids][]', ''
              %br
  - if can? :manage, Account
    %fieldset
      %legend= t('.account')
      %ul
        %li
          = f.label :account
          = collection_select(:user, :account_id, Account.all, :id, :name)

  %fieldset.actions
    = f.submit t('.save')
    \|
    = link_to t('.back'), users_path
