= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %ul
      %li
        = f.label :email
        = f.text_field :email
        %span.hint= t('.hints.email')
      %li
        = f.label :firstname
        = f.text_field :firstname
      %li
        = f.label :surname
        = f.text_field :surname
      - if can? :manage, User
        %li
          = f.label :active
          = f.check_box :active
      %li
        = f.label :password
        = f.text_field :password
      %li
        = f.label :password_confirmation
        = f.text_field :password_confirmation

  - if can? :manage, Role
    = render :partial => 'roles', :locals => {:f => f}
  - if can? :manage, Account
    = render :partial => 'accounts', :locals => {:f => f}

  %fieldset.actions
    = f.submit t('actions.save')
    \|
    = link_to t('actions.back'), users_path
