= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend= t('.details')
    %ul
      %li
        = f.label :email
        = f.text_field :email
        %span.hint= t('.hints.email')
      %li
        = f.label :firstname
        = f.text_field :firstname
      %li
        = f.label :surname
        = f.text_field :surname
      - if can? :manage, User
        %li
          = f.label :active
          = f.check_box :active
      %li
        = f.label :password
        = f.text_field :password
      %li
        = f.label :password_confirmation
        = f.text_field :password_confirmation

  - if can? :manage, Role
    %fieldset
      %legend= t('.roles')
      %ul
        %li
          = f.label :roles
          %ul.field
            - Role.all.each do |role|
              - if role.name == 'super' && !current_user.has_role?(:super) then next
              %li
                = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
                = role.description
          = hidden_field_tag "user[role_ids][]", ""
  - if can? :manage, Account
    %fieldset
      %legend= t('.account')
      %ul
        %li
          = f.label :account
          = collection_select(:user, :account_id, Account.all, :id, :name)

  %fieldset.actions
    = f.submit t('actions.save')
    \|
    = link_to t('actions.back'), users_path
