%h1= User.human_name(:count => 2)

%table
  %tr
    %th= User.human_attribute_name('email')
    %th= User.human_attribute_name('firstname')
    %th= User.human_attribute_name('surname')
    %th= User.human_attribute_name('active')
    %th= User.human_attribute_name('created')
    %th= User.human_attribute_name('updated')
    %th

  - @users.each do |user|
    %tr
      %td= link_to user.email, edit_user_path(user)
      %td= user.firstname
      %td= user.surname
      %td= user.active ? image_tag('tick.png') : ''
      %td= user.created_at
      %td= user.updated_at
      %td
        =#link_to 'Show', user
        =link_to image_tag('edit.png'), edit_user_path(user)
        =link_to image_tag('delete.png'), user, :confirm => t('actions.confirm'), :method => :delete

