%h1= User.model_name.human(:count => 2)

%table
  %tr
    %th= User.human_attribute_name('email')
    %th= User.human_attribute_name('firstname')
    %th= User.human_attribute_name('surname')
    %th= User.human_attribute_name('active')
    %th= User.human_attribute_name('created')
    %th= User.human_attribute_name('updated')
    - if can? :modify, User
      %th

  - @users.each do |user|
    %tr
      %td= link_to user.email, edit_user_path(user)
      %td= user.firstname
      %td= user.surname
      %td= user.active ? image_tag('tick.png') : ''
      %td= user.created_at
      %td= user.updated_at
      - if can? :modify, User
        %td
          =#link_to 'Show', user
          =link_to image_tag('edit.png'), edit_user_path(user), :title => t('actions.edit')
          =link_to image_tag('delete.png'), user, :confirm => t('actions.confirm'), :method => :delete, :title => t('actions.delete')

