%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Firstname:
  = @user.firstname
%p
  %b Surname:
  = @user.surname
%p
  %b Active:
  = @user.active
%p
  %b Created at:
  = @user.created_at
%p
  %b Updated at:
  = @user.updated_at
%p
  %b Deleted at:
  = @user.deleted_at

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
