%p#notice= notice

%p
  %b Name:
  = @client.name
%p
  %b Created at:
  = @client.created_at
%p
  %b Updated at:
  = @client.updated_at
%p
  %b Deleted at:
  = @client.deleted_at

= link_to 'Edit', edit_client_path(@client)
\|
= link_to 'Back', clients_path
