%fieldset
  %ul
    %li
      = f.label :active
      = f.check_box :active
    %li
      = f.label :email_active
      = f.check_box :email_active
    %li
      = f.label :email_quota
      = f.text_field :email_quota
    %li
      = f.label :ftp_active
      = f.check_box :ftp_active
    %li
      = f.label :ftp_quota
      = f.text_field :ftp_quota
