= form_for @domain do |f|
  -if @domain.errors.any?
    .error
      %p= "#{pluralize(@domain.errors.count, "error")} stopped this domain from being saved:"
      %ul
        - @domain.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %ul
      %li
        = f.label :name
        = f.text_field :name
      %li
        = f.label :active
        = f.check_box :active
  - if can? :manage, Account
    = render :partial => 'accounts', :locals => {:f => f}
  %fieldset.actions
    = f.submit 'Save'
