= form_for @domain do |f|
  -if @domain.errors.any?
    .error
      %p= "#{pluralize(@domain.errors.count, "error")} stopped this domain from being saved:"
      %ul
        - @domain.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %ul
      %li
        = f.label :name
        = f.text_field :name
        %span.hint= t('.hints.name')
  - if @domain.ftp_active
    %fieldset
      %ul
        %li
          = f.label :passhash
          = f.password_field :passhash
          %span.hint= t('.hints.passhash')
  - if can? :manage, Account
    = render :partial => 'activation', :locals => {:f => f}
    = render :partial => 'accounts', :locals => {:f => f}
  %fieldset.actions
    = f.submit t('actions.save')
    \|
    = link_to t('actions.back'), domains_path
