%h1= Domain.model_name.human(:count => 2)

%table
  %tr
    %th= Domain.human_attribute_name('name')
    %th= Domain.human_attribute_name('active')
    %th= Alias.model_name.human(:count => 2)
    %th= Mailbox.model_name.human(:count => 2)
    %th= Domain.human_attribute_name('created')
    %th= Domain.human_attribute_name('updated')
    - if can? :modify, Domain
      %th

  - @domains.each do |domain|
    %tr
      %td= link_to domain.name, domain_path(domain)
      %td= domain.active ? image_tag('tick.png') : ''
      %td= domain.aliases.count
      %td= domain.mailboxes.count
      %td
        %time{:datetime => domain.created_at, :class => 'relative'}= domain.created_at
      %td
        %time{:datetime => domain.updated_at, :class => 'relative'}= domain.updated_at
      - if can? :modify, Domain
        %td
          =#link_to 'Show', domain
          =link_to image_tag('edit.png'), edit_domain_path(domain), :title => t('actions.edit')
          =link_to image_tag('delete.png'), domain, :confirm => t('actions.confirm'), :method => :delete, :title => t('actions.delete')
