%h1= t('.title')

%table
  %tr
    %th= t('attributes.name')
    %th= t('attributes.active')
    %th.centered= t('.email_status')
    %th.centered= image_tag('alias.png')
    %th.centered= image_tag('mailbox.png')
    %th= t('attributes.updated_at')
    - if can? :manage, Domain
      %th

  - @domains.each do |domain|
    %tr
      %td= link_to domain.name, domain_path(domain)
      %td.centered= domain.active ? image_tag('tick.png') : ''
      %td.centered
        - if domain.email_active
          - if domain.email_alias.blank?
            = image_tag('mailbox.png')
          - else
            = image_tag('redirect.png')
      %td.centered= domain.aliases.size
      %td.centered= domain.mailboxes.size
      %td
        %time{:datetime => domain.updated_at, :class => 'relative'}= domain.updated_at
      - if can? :manage, Domain
        %td
          - if can? :manage, Account
            = link_to image_tag('sync.png'), sync_domain_path(domain)
          = link_to image_tag('edit.png'), edit_domain_path(domain), :title => t('actions.edit')
          = link_to image_tag('delete.png'), domain, :confirm => t('actions.confirm'), :method => :delete, :title => t('actions.delete')
