%h1= t('.title')
%p= t('.summary')

%table
  %thead
    %tr
      %th= t('helpers.label.alias.source')
      %th.centered= t('helpers.label.alias.active')
      %th= t('helpers.label.alias.destination')
      %th= t('helpers.label.alias.updated_at')
      - if can? :modify, Alias
        %th.right= t('.actions')

  %tbody
    - @default_aliases.each do |a|
      %tr{:id => "default_alias-#{a.id}"}
        - if a.source.blank?
          %td= link_to t('aliases.catchall'), edit_default_alias_path(a)
        - else
          %td= link_to a.source, edit_default_alias_path(a)
        %td.centered.status
          = render :partial => 'active_toggle', :locals => {:a => a}
        %td= a.destination_array.join('<br>').html_safe
        %td
          %time{:datetime => a.updated_at, :class => 'relative'}= a.updated_at
        - if can? :manage, DefaultAlias
          %td.right
            = link_to image_tag('edit.png'), edit_default_alias_path(a)
            - unless a.system
              = link_to image_tag('delete.png'), a, :confirm => t('.confirm'), :method => :delete, :remote => true
