= form_for @mailbox do |f|
  -if @mailbox.errors.any?
    #error_explanation
      %h2= "#{pluralize(@mailbox.errors.count, "error")} prohibited this mailbox address from being saved:"
      %ul
        - @mailbox.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %ul
      %li
        = f.label :email
        = f.text_field :email, :class => 'right', :value => (@mailbox.email ? @mailbox.email.slice(/[^@]+/) : '')
        = "@#{@mailbox.domain.name}"
      %li
        = f.label :active
        = f.check_box :active
      %li
        = f.label :passhash
        = f.password_field :passhash
      %li
        = f.label :quota
        = f.text_field :quota

  %fieldset.actions
    = f.submit t('actions.save')
    \|
    = link_to t('actions.back'), mailboxes_path
