%h1= t('.title')
%p= t('.summary')

%table
  %tr
    %th= t('helpers.label.mailbox.email')
    %th.centered= t('attributes.active')
    %th= t('helpers.label.mailbox.quota')
    %th= t('helpers.label.mailbox.bytes')
    %th= t('helpers.label.mailbox.messages')
    %th= t('attributes.updated_at')
    - if can? :modify, Mailbox
      %th

  - @mailboxes.each do |mailbox|
    %tr{:id => "mailbox-#{mailbox.id}"}
      %td= link_to mailbox.email, edit_mailbox_path(mailbox)
      %td.centered.status
        = render :partial => 'active_toggle', :locals => {:mailbox => mailbox}
      %td= number_to_human_size(mailbox.quota*1024) unless mailbox.quota.nil?
      %td= number_to_human_size(mailbox.bytes)
      %td= mailbox.messages
      %td
        %time{:datetime => mailbox.updated_at, :class => 'relative'}= mailbox.updated_at
      - if can? :manage, Mailbox
        %td.right
          = link_to image_tag('edit.png'), edit_mailbox_path(mailbox)
          = link_to image_tag('delete.png'), mailbox, :confirm => t('actions.confirm'), :method => :delete, :remote => true
