%h1= t('.title')

%table
  %tr
    %th= Mailbox.human_attribute_name('email')
    %th= Mailbox.human_attribute_name('active')
    %th= Mailbox.human_attribute_name('created')
    %th= Mailbox.human_attribute_name('updated')
    - if can? :modify, Email
      %th

  - @mailboxes.each do |mailbox|
    %tr
      %td= link_to mailbox.email, edit_mailbox_path(mailbox)
      %td= mailbox.active ? image_tag('tick.png') : ''
      %td
        %time{:datetime => mailbox.created_at, :class => 'relative'}= mailbox.created_at
      %td
        %time{:datetime => mailbox.updated_at, :class => 'relative'}= mailbox.updated_at
      %td
        = link_to image_tag('edit.png'), edit_mailbox_path(mailbox)
        = link_to image_tag('delete.png'), mailbox, :confirm => 'Are you sure?', :method => :delete

