%h1= t('.title')

%table
  %tr
    %th= Role.human_attribute_name('name')
    %th= Role.human_attribute_name('created')
    %th= Role.human_attribute_name('updated')
    %th

  - @roles.each do |role|
    %tr
      %td= link_to role.name, edit_role_path(role)
      %td
        %time{:datetime => role.created_at, :class => 'relative'}= role.created_at
      %td
        %time{:datetime => role.updated_at, :class => 'relative'}= role.updated_at
      %td
        = link_to image_tag('edit.png'), edit_role_path(role)
        = link_to image_tag('delete.png'), role, :confirm => t('actions.confirm'), :method => :delete
