%h1= t('.title')

= form_tag({:controller => 'roles', :action => 'report'}, :method => 'post') do
  %table
    %tr
      %th= Role.human_attribute_name('permissions')
      - @roles.sort.each do |role|
        %th
          = role.name
          = hidden_field_tag "permissions[#{role.id}][]", ""
    - Ability.permissions.each do |pname, pdetails|
      %tr
        %td= pdetails['description']
        - @roles.sort.each do |role|
          %td
            = check_box_tag "permissions[#{role.id}][]", pname, role.permissions.include?(pname) rescue role.inspect
  %fieldset.actions
    = submit_tag 'Save'
