%h1= t('.title')

= form_tag({:controller => 'roles', :action => 'report'}, :method => 'post') do
  %table
    %tr
      %th= Permission.model_name.human
      - @roles.sort.each do |role|
        %th
          = role.name
          = hidden_field_tag "permissions[#{role.id}][]", ""
    - @permissions.each do |perm|
      %tr
        %td= perm.description
        - @roles.sort.each do |role|
          %td
            = check_box_tag "permissions[#{role.id}][]", perm.id, role.permissions.include?(perm)
  %fieldset.actions
    = submit_tag 'Save'
