= form_for @email do |f|
  -if @email.errors.any?
    #error_explanation
      %h2= "#{pluralize(@email.errors.count, "error")} prohibited this email address from being saved:"
      %ul
        - @email.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
