%ul
  = create_tab t('dashboard.tab'), root_path
  - if can? :manage, Account
    = create_tab t('accounts.tab'), accounts_path
  - elsif can? :update, Account
    = create_tab t('accounts.tab'), edit_account_path(@account)
  - if can? :manage, User
    = create_tab t('users.tab'), users_path
  - if can? :read, Domain
    = create_tab t('domains.tab'), domains_path
  - if can? :edit, Account
    = create_tab t('default_name_records.tab'), default_name_records_path
    = create_tab t('default_aliases.tab'), default_aliases_path
