!!!5
%html
  %head
    %meta{:name => 'charset', :value => 'utf-8'}/
    %title Controlr
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'screen'
    = csrf_meta_tag
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
    %meta{:content => '', :name => 'description'}/
    /[if lt IE 9]
      %script{:src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
  %body
    %header
      .account
        = render :partial => 'users/account_small'
      %hgroup
        %h1 Controlr

      %nav
        %ul
          %li= link_to 'Dashboard', root_path
          %li= link_to 'Users', users_path

    #page
      %section
        = yield
      #sidebar
        %nav
          = yield(:submenu)
    %footer
