!!!5
%html
  %head
    %meta{:name => 'charset', :value => 'utf-8'}/
    %title Controlr
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'screen'
    = csrf_meta_tag
    %script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
    %meta{:content => '', :name => 'description'}/
    /[if lt IE 9]
      %script{:src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
  %body{:class => controller.controller_path}
    %header.page
      .account
        = render :partial => 'users/account_small'
      %hgroup
        %h1 Controlr

      %nav
        %ul
          %li.dashboard= link_to t('dashboard.tab'), root_path
          %li.users= link_to t('users.tab'), users_path

    #page
      %section
        = yield
      #sidebar
        %nav
          = render :partial => 'submenu' rescue nil
    %footer.page
      %p 
        &copy;
        = Time.now.year
        Felix Hanley
