!!!5
%html
  %head
    %meta{:name => 'charset', :value => 'utf-8'}/
    %title Controlr
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'screen'
    /%script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.timeago'
    = csrf_meta_tag
    %meta{:content => '', :name => 'description'}/
    /[if lt IE 9]
      %script{:src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
    = yield :head
  %body{:class => controller.controller_name}
    %header.page
      #top-bar
        .admin
          - if user_signed_in?
            = link_to t('settings'), root_path
            = render :partial => 'domains/switcher'
        .account
          = render :partial => 'users/account_small'
      %hgroup
        - if user_signed_in?
          %h1= link_to @account.name||'Controlr', root_path
          - if @domain && !@domain.new?
            &raquo;
            %h2= link_to @domain.name, domain_path(@domain)
        - else
          %h1 Control Panel
      %nav
        - if user_signed_in?
          - if @domain && !@domain.new?
            = render :partial => 'layouts/domain_menu'
          - else
            = render :partial => 'layouts/account_menu'

    #page{:class => content_for?(:sidebar) ? 'sidebar' : ''}
      - if content_for?(:sidebar)
        #sidebar
          = yield(:sidebar)
      %section
        - unless flash.empty?
          .flash
            %ul
              - flash.each do |t,m|
                %li{:class => t}= m

        = yield
    %footer.page
      %p
        = link_to 'Found a bug?', 'http://support.seconddrawer.com.au/projects/controlr'
        |
        &copy;
        = Time.now.year
        Felix Hanley
