!!!5
%html
  %head
    %meta{:name => 'charset', :value => 'utf-8'}/
    %title Controlr
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'screen'
    /%script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.timeago'
    = csrf_meta_tag
    %meta{:content => '', :name => 'description'}/
    /[if lt IE 9]
      %script{:src => 'http://html5shiv.googlecode.com/svn/trunk/html5.js'}
  %body{:class => controller.controller_path}
    %header.page
      .account
        = render :partial => 'users/account_small'
      %hgroup
        %h1 Controlr

      %nav
        %ul
          - if user_signed_in?
            = create_tab t('dashboard.tab'), root_path
          - if can? :manage, Account
            = create_tab t('accounts.tab'), accounts_path
          - if can? :manage, User
            = create_tab t('users.tab'), users_path
          - if can? :manage, Domain
            = create_tab t('domains.tab'), domains_path
          - if session[:current_domain_id]
            =create_tab t('aliases.tab'), aliases_path
            =create_tab t('mailboxes.tab'), mailboxes_path

    #page
      %section
        - unless flash.empty?
          .flash
            %ul
              - flash.each do |t,m|
                %li{:class => t}= m

        = yield
      #sidebar
        %nav
          = render :partial => 'submenu'
    %footer.page
      %p 
        &copy;
        = Time.now.year
        Felix Hanley
