- content_for :sidebar do
  %h3= t('.title')
  %nav
    %ul
      - if can? :create, Account
        %li= link_to t('layouts.accounts.new'), new_account_path, :class => 'add button'
      - if can? :create, User
        %li= link_to t('layouts.users.new'), new_user_path, :class => 'add button'
      - if can? :create, Domain
        %li= link_to t('layouts.domains.new'), new_domain_path, :class => 'add button'
= render :file => 'layouts/application'

