= form_for @account do |f|
  -if @account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %ul
      %li
        = f.label :name
        = f.text_field :name, :disabled => !can?(:manage, Account)
      %li
        = f.label :active
        = f.check_box :active, :disabled => !can?(:manage, Account)

  %fieldset.actions
    = f.submit 'Save'
    \|
    = link_to 'Back', accounts_path
