%h1= t('.title')

%table
  %tr
    %th= t('attributes.name')
    %th= t('attributes.active')
    %th= Account.human_attribute_name('users')
    %th= Account.human_attribute_name('domains')
    %th= t('attributes.created_at')
    %th= t('attributes.updated_at')
    %th

  - @accounts.each do |account|
    %tr
      %td= link_to account.name, account_path(account)
      %td= account.active ? image_tag('tick.png') : ''
      %td= account.users.size
      %td= account.domains.size
      %td
        %time{:datetime => account.created_at, :class => 'relative'}= account.created_at
      %td
        %time{:datetime => account.updated_at, :class => 'relative'}= account.updated_at
      %td
        = link_to image_tag('edit.png'), edit_account_path(account)
        = link_to image_tag('delete.png'), account, :confirm => t('actions.confirm'), :method => :delete
