%h1= Account.model_name.human(:count => 2)

%table
  %tr
    %th= Account.human_attribute_name('name')
    %th= Account.human_attribute_name('active')
    %th= User.model_name.human(:count => 2)
    %th= Domain.model_name.human(:count => 2)
    %th= Account.human_attribute_name('created')
    %th= Account.human_attribute_name('updated')
    %th

  - @accounts.each do |account|
    %tr
      %td= link_to account.name, account_path(account)
      %td= account.active ? image_tag('tick.png') : ''
      %td= account.users.size
      %td= account.domains.size
      %td
        %time{:datetime => account.created_at, :class => 'relative'}= account.created_at
      %td
        %time{:datetime => account.updated_at, :class => 'relative'}= account.updated_at
      %td
        = link_to image_tag('edit.png'), edit_account_path(account)
        = link_to image_tag('delete.png'), account, :confirm => 'Are you sure?', :method => :delete
