%p#notice= notice

%p
  %b Name:
  = @account.name
%p
  %b Created at:
  = @account.created_at
%p
  %b Updated at:
  = @account.updated_at
%p
  %b Deleted at:
  = @account.deleted_at

= link_to 'Edit', edit_account_path(@account)
\|
= link_to 'Back', accounts_path
